html {
    margin-left: 4px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#video {
    text-align: center;
    margin-top: 15px;
}

iframe {
    display: block;
    margin: auto;
}

.input-group {
    margin-bottom: 40px;
}

.media-heading > em {
    margin-left: 15px;
}

#container {
    margin: 25px;
}

.my-scrollable {
    overflow: auto;
    max-height: 40vh;
}

.btn-primary {
    margin-bottom: 8px;
}
